@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject HttpClient Http
@using System.Security.Claims

<Layout Style="height: 100vh;">
    <Sider Collapsible
           Collapsed=@collapsed 
           NoTrigger 
           Width="256"
           Class="pc site-layout-background" 
           Style="box-shadow: 0 0 10px #888888; z-index: 99999;">
        <div class="logo">
            <img src="images/logo1.png" style="height: 100%;" />
            @if (!collapsed)
            {
                <img src="images/logo2.png" style="height: 100%;" />
            }
        </div>
        <Menu Mode="MenuMode.Inline"
              DefaultSelectedKeys=@(new[] {"1"})
              DefaultOpenKeys=@(new[] {"sub1"})>
            <MenuItem Key="1" RouterLink="/" RouterMatch="NavLinkMatch.All">
                <Icon Type="home" Theme="outline"></Icon>
                <span>首页</span>
            </MenuItem>
            @{
                RenderFragment sub1Title =
                @<span>
                    <Icon Type="table" Theme="outline"></Icon>
                    <span>数据管理</span>
                </span>;
            }
            <SubMenu Key="sub1" TitleTemplate=@sub1Title>
                <MenuItemGroup Key="group1" Title="记录管理">
                    <MenuDivider />
                    <MenuItem Key="2" RouterLink="/records">账单管理</MenuItem>
                </MenuItemGroup>
                <MenuItemGroup Key="group2" Title="选项管理">
                    <MenuDivider />
                    <MenuItem Key="3" RouterLink="/categories">分类管理</MenuItem>
                    <MenuItem Key="4" RouterLink="/accounts">账户管理</MenuItem>
                </MenuItemGroup>
            </SubMenu>
            <MenuItem Key="5" RouterLink="/settings">
                <Icon Type="user" Theme="outline"></Icon>
                <span>个人中心</span>
            </MenuItem>
            <AuthorizeView Policy="Admin">
                <MenuItem Key="6" RouterLink="/admin">
                    <Icon Type="team" Theme="outline"></Icon>
                    <span>用户管理</span>
                </MenuItem>
            </AuthorizeView>
        </Menu>
    </Sider>
    <Layout>
        <Header Class="site-layout-background" Style="padding: 0; box-shadow: 0 0 10px #888888; z-index: 99998;">
            <div class="pc" style="float: left;">
                @if (collapsed)
                {
                    <Icon Type="menu-unfold" Theme="outline" Class="trigger" OnClick="@(i => { collapsed = !collapsed; })" />
                }
                else
                {
                    <Icon Type="menu-fold" Theme="outline" Class="trigger" OnClick="@(i => { collapsed = !collapsed; })" />
                }
            </div>
            <div class="pc site-button-ghost-wrapper" style="float: right; color: black;">
                <AuthorizeView>
                    你好, <b>@context.User.Identity.Name</b> !
                    <Button Type="link" Danger OnClick="@(() => { navigationManager.NavigateTo("/logout"); })">注销</Button>
                </AuthorizeView>
            </div>

            <img class="mobile mobile-logo" src="images/logo1.png" />
            <div class="mobile">
                @if (open)
                {
                    <img src="images/menu2.png" class="mobile-menu-button" @onclick="@(i => { open = false; slideClass = "slide-up"; })" />
                }
                else
                {
                    <img src="images/menu1.png" class="mobile-menu-button" @onclick="@(i => { open = true; slideClass = ""; })" />
                }
            </div>
        </Header>
        <div class="mobile">
            <div class="slide @slideClass" style="width: 100%; position: absolute; box-shadow: 0 0 10px #888888; z-index: 99997;">
                <NavMenu />
            </div>
        </div>
        <Content Class="long-content">
            <div style="min-height: 100%;" @ontouchstart="@(i => { open = false; slideClass = "slide-up"; })">
                <Content Style="padding: 12px 12px 0; position: relative;">
                    <AuthorizeView>
                        <Authorized>
                            @Body
                        </Authorized>
                        <Authorizing>
                            <div class="back_card" style="height: auto; display: flex; justify-content: center; align-items: center; flex-direction: column;">
                                <img src="images/loading1.gif" style="width: 128px;" />
                                <h5>身份验证中...</h5>
                            </div>
                        </Authorizing>
                    </AuthorizeView>
                </Content>
                <Footer Style="text-align: center;">Copyright © 2021 Kougami<br />Powered by .NET 5.0 on Blazor WebAssembly</Footer>
            </div>
        </Content>
    </Layout>
</Layout>

<style>

    @@media (min-width: 768px) {

        .ant-layout-header .trigger {
            font-size: 18px;
            line-height: 64px;
            padding: 0 24px;
            cursor: pointer;
            transition: color 0.3s;
        }
        .ant-layout-header .trigger:hover {
            color: #1890ff;
        }

        .mobile {
            display: none;
        }

    }

    @@media (max-width: 768px) {

        .pc {
            display: none;
        }

        .mobile-logo, .mobile-menu-button {
            height: 40px;
            margin: 12px;
        }
        .mobile-logo {
            float: left;
        }
        .mobile-menu-button {
            float: right;
        }

        .ant-menu-item {
            justify-content: center;
        }
        .ant-menu-submenu-title {
            justify-content: center;
        }
        .ant-menu-item-group-title {
            text-align: center;
        }

        .slide {
            transition: all .5s cubic-bezier(0, 1, 0.5, 1);
            transform: translateY(0);
        }
        .slide-up {
            transform: translateY(-100%);
        }

    }

    .site-layout-background {
        background: #fff;
    }

    .logo {
        height: 44px;
        margin: 10px;
        display: flex;
        justify-content: space-evenly;
    }

    .long-content {
        overflow: scroll;
        height: 100%;
    }
    .long-content::-webkit-scrollbar {
        display: none;
    }

    .back_card {
        padding: 24px;
        margin: 12px;
        position: relative;
        background: #fff;
        border-radius: 4px;
    }

</style>

@code{

    private string slideClass = "slide-up";
    private bool collapsed, open;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await authenticationStateTask;
        ClaimsPrincipal user = authState.User;
        if (!user.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/login");
        }
    }

}