<Table @ref="Obj" DataSource="@Data" PageSize="10" HidePagination="true" @bind-PageIndex="@tablePageIndex" SelectedRowsChanged="SelectedChanged">
    <Selection Key="@(context.Id.ToString())" />
    <Column Title="用户" @bind-Field="@context.UserName" />
    <Column Title="密码" @bind-Field="@context.UserPwd" />
    @{string p = @context.Permission == Permissions.ADMIN ? "管理员" : @context.Permission == Permissions.NORMAL ? "普通用户" : "其他";}
    <Column Title="权限组" Field="@p" />
    <Column Title="QQ" Field="@context.QQ" />
    <Column Title="邮箱" Field="@context.Email" />
</Table>
<Pagination DefaultCurrent="1" Total="@Data.Length" OnChange="@((args)=> { tablePageIndex = args.Page; })" Style="position: absolute; right: 24px; bottom: 24px;" />

@code {
    [Parameter]
    public AntDesign.Table<User> Obj { get; set; }
    [Parameter]
    public User[] Data { get; set; }
    [Parameter]
    public IEnumerable<User> Selected { get; set; }
    [Parameter]
    public EventCallback<IEnumerable<User>> SelectedChanged { get; set; }

    private int tablePageIndex;
}
